<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>新闻详情</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
<div class="nav index">
    <div class="layui-container">
        <!-- logo -->
        <div class="nav-logo">
            <a href="index.html">
                <img style="height: 80px;width: 80px" src="../static/img/logo.png" alt="网络公司">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="diagnosis.html">自我诊断</a></li>
                <li class="layui-nav-item"><a href="news.html">新闻动态</a></li>
                <li class="layui-nav-item"><a href="case.html">成功案例</a></li>
                <li class="layui-nav-item"><a href="support.html">医疗支持</a></li>
                <li class="layui-nav-item"><a href="login.html">注册/登录</a></li>
            </ul>
        </div>
    </div>
</div>
  <!-- main部分 -->
  <div class="main-newsdate">
    <div class="layui-container">
      <p class="news"><a href="news.html">实时新闻</a> > 新闻详情</p>
      <h1>2024 CSCO I 泽璟制药发布ZG005和ZG006临床研究数据</h1>
      <p class="pushtime">发布时间：<span>2024-09-25 16:41</span></p>
      <p class="introTop">本届大会主题为“以患为本，共享未来”，作为临床肿瘤学的年度盛会，吸引了国内外顶尖肿瘤学专家、学者及行业精英的积极参与。</p>
      <div><img src="../static/img/news_big.jpg" alt="新闻详情图"></div>
      <p class="introBott">在经过长达4年的间隔后，我们重回厦门，于2024年9月26日成功举办了第27届全国临床肿瘤学大会暨2024年CSCO学术
          年会。此次盛会吸引了近万名医疗专业人士参与，本次大会以“以患为本，共享未来”为主题，秉承“以病人为核心，以创新为动力”，全方位服务于患者。</p>
    </div>
  </div>
  <!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <footer class="footer-container">
            <div class="footer-content">
                <p>© 2024 贵州财经大学. 版权所有.</p>
                <p>联系我们: <a href="mailto:weizhen20010616@163.com">weizhen20010616@163.com</a></p>
                <ul>
                    <li><a href="">隐私政策</a></li>
                    <li><a href="">服务条款</a></li>
                </ul>
            </div>

        </footer>
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '../static/js/' 
  }).use('firm'); 
</script>

</body>
</html>